In [5]:
import pandas as pd
base_cartao = pd.read_csv('data_credit.csv' , header = 1)
base_cartao

      ID;LIMIT_BAL;SEX;EDUCATION;MARRIAGE;AGE;PAY_0;PAY_2;PAY_3;PAY_4;PAY_5;PAY_6;BILL_AMT1;BILL_AMT2;BILL_AMT3;BILL_AMT4;BILL_AMT5;BILL_AMT6;PAY_AMT1;PAY_AMT2;PAY_AMT3;PAY_AMT4;PAY_AMT5;PAY_AMT6;default payment next month
0      1;20000;2;2;1;24;2;2;-1;-1;-2;-2;3913;3102;689...
1      2;120000;2;2;2;26;-1;2;0;0;0;2;2682;1725;2682;...
2      3;90000;2;2;2;34;0;0;0;0;0;0;29239;14027;13559...
3      4;50000;2;2;1;37;0;0;0;0;0;0;46990;48233;49291...
4      5;50000;1;2;1;57;-1;0;-1;0;0;0;8617;5670;35835...
...                                                  ...
29995  29996;220000;1;3;1;39;0;0;0;0;0;0;188948;19281...
29996  29997;150000;1;3;2;43;-1;-1;-1;-1;0;0;1683;182...
29997  29998;30000;1;2;2;37;4;3;2;-1;0;0;3565;3356;27...
29998  29999;80000;1;3;1;41;1;-1;0;0;0;-1;-1645;78379...
29999  30000;50000;1;2;1;46;0;0;0;0;0;0;47929;48905;4...

[30000 rows x 1 columns]